{% extends 'admin_template/base_template.html' %}

{% block page_title %}
Cập nhật thông tin lớp học phần | Mã lớp học phần: {{ classes.id }}
{% endblock page_title %}

{% block main_content %}


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                  <!-- general form elements -->
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Thông tin lớp học phần</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" action="/edit_classes_save" method="post">
                        {% csrf_token %}
                      <div class="card-body">
                        <div class="form-group">
                          <label>Name</label>
                          <input type="text" class="form-control" name="name" value="{{ classes.ten_lophp }}" required>
                          <input type="hidden" name="id" value="{{ classes.id }}">
                        </div>
                        
                        <div class="form-group">
                            <label>Session</label>
                            <input type="text" class="form-control" name="session" value="{{ classes.kyhoc  }}" required>
                        </div>

                        <div class="form-group">
                            <label>Teacher</label>
                            <select name="teacher" class="form-control">
                              {% for teacher in teachers %}
                                <option value="{{teacher.id}}" {% if teacher.id == classes.giangvien_id %} selected {% endif %}>
                                  {{teacher.ten_gv}}
                                </option>
                              {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label>Subject</label>
                            <select name="subject" class="form-control">
                              {% for subject in subjects %}
                                <option value="{{subject.id}}" {% if subject.id == classes.mon_id %} selected {% endif %}>
                                  {{subject.ten_mon}}
                                </option>
                              {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                        {% if messages %}
                          {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger">
                              {{ message }}
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            {% endif %}
                            {% if message.tags == 'success' %}
                            <div class="alert alert-success">
                              {{ message }}
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                        </div>
                      </div>
                      <!-- /.card-body -->
                      
                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                      </div>
                    </form>
                  </div>
                  <!-- /.card -->
    
                </div>

              </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock main_content %}